@model JobAppSystem.Models.Konkursi

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Konkursi form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulli" class="control-label"></label>
                <input asp-for="Titulli" class="form-control" />
                <span asp-validation-for="Titulli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozicioni" class="control-label"></label>
                <input asp-for="Pozicioni" class="form-control" />
                <span asp-validation-for="Pozicioni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EksperiencaENevojshme" class="control-label"></label>
                <input asp-for="EksperiencaENevojshme" class="form-control" />
                <span asp-validation-for="EksperiencaENevojshme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEHapjes" class="control-label"></label>
                <input asp-for="DataEHapjes" class="form-control" />
                <span asp-validation-for="DataEHapjes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEMbylljes" class="control-label"></label>
                <input asp-for="DataEMbylljes" class="form-control" />
                <span asp-validation-for="DataEMbylljes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
